body {
	margin: 0px;
	padding: 0px;
	color: #666;
	font-family: Tahoma, Geneva, sans-serif;
	font-size: 13px;
	line-height: 1.7em; 
	background-color: #fff;
	background-repeat: repeat-x;
	background-position: top	
}

.homepage { background-image: url(images/tooplate_body.jpg); }
.subpage { background-image: url(images/tooplate_body_subpage.jpg) }



a, a:link, a:visited { color: #e98236; font-weight: bold; text-decoration: none; }
a:hover { text-decoration: underline; }

p { margin: 0 0 10px 0; padding: 0; }
img { border: none; }
em { color: #000; font-weight: bold; font-style: normal }

h1, h2, h3, h4, h5, h6 { color: #000; font-weight: normal; }
h1 { font-size: 34px; margin: 0 0 20px 0; padding: 5px 0 }
h2 { font-size: 28px; margin: 0 0 20px 0; padding: 5px 0; }
h3 { font-size: 24px; margin: 0 0 15px; padding: 0; }
h4 { font-size: 18px; margin: 0 0 15px; padding: 0; }
h5 { font-size: 16px; margin: 0 0 10px; padding: 0;  }
h6 { font-size: 14px; margin: 0 0 5px; padding: 0; }

.cleaner { clear: both }
.h10 { height: 10px }
.h20 { height: 20px }
.h30 { height: 30px }
.h40 { height: 40px }
.h50 { height: 50px }
.h60 { height: 60px }

a.more { 
	clear: both; 
	display: block; 
	width: 103px; 
	height: 30px; 
	line-height: 30px; 
	text-align: center; 
	color: #000; 
	font-weight: bold; 
	background: url(images/tooplate_button.png); 
}

a.more:hover { 
	text-decoration: none; 
	color: #fff; 
}

.float_l { float: left }
.float_r { float: right }

.image_wrapper { 
	display: inline-block; 
	border: 5px solid #fff; 
	background: none; 
	margin-bottom: 5px; 
}

.image_fl { 
	float: left; 
	margin: 3px 15px 0 0; 
}

.image_fr { 
	float: right; 
	margin: 3px 0 0 15px; 
}

.tooplate_list { 
	margin: 20px 0 20px 20px; 
	padding: 0; 
	list-style: none; 
}

.tooplate_list li { 
	color:#e98236; 
	margin: 0; 
	padding: 0 0 0 20px; 
	background: url(images/tooplate_list.jpg) no-repeat scroll 0 7px;  
}

.tooplate_list li a { 
	color: #e98236; 
	font-weight: normal; 
}

.tooplate_list li a:hover { 
	color: #e98236; 
}

#tooplate_wrapper {
	width: 960px;
	padding: 0 20px;
	margin: 0 auto
}



#site_title { 
	float: left; 
}

#site_title h1 { 
	margin: 30px 0 0 0; 
	padding: 0; 
}

#site_title h1 a { 
	display: block; 
	width: 205px; 
	height: 48px; 
	color: #fff; 
	text-indent: -10000px; 
	background: url(images/tooplate_logo.png); 
}

/* menu */
#tooplate_menu {
	clear: both;
	width: 960px;
	height: 50px;
	background: url(images/tooplate_menu.jpg)
}

#tooplate_menu ul {
	float: left;
	width: 740px;
	margin: 0;
	padding: 0;
	list-style: none;
}

#tooplate_menu ul li {
	float: left;
	display: block;
	width: 100px;
	padding: 0;
	margin: 0;
	display: inline;
	text-align: center;
	background: url(images/tooplate_menu_divider.png) no-repeat right center
}

#tooplate_menu ul li a {
	display: block;
	width: 100px;
	height: 32px;
	padding: 8px 0 0;
	margin: 0;
	font-size: 14px;
	text-align: center;
	text-decoration: none;
	color: #199eb9;	
	font-weight: normal;
	outline: none;
	border: none;
	background: url(images/tooplate_menu.png) no-repeat bottom center
}

#tooplate_menu ul li a:hover, #tooplate_menu ul li .current { 
	color: #fff; 
	height: 38px; 
	padding: 5px 0 0 0; 
	background: url(images/tooplate_menu_hover.png) bottom center no-repeat; 
}

#tooplate_menu ul .last { 
	background: none; 
}

#search_box { 
	float: right; 
	margin: 12px 0 0 0; 
	width: 170px; 
	height: 27px; 
	background: url(images/tooplate_search.png) no-repeat; 
}

#search_box form { 
	clear: both; 
	width: 170px; 
	height: 26px; 
	padding: 0; 
	margin: 0; 
} 

#searchfield { 
	float: left; 
	display: block; 
	height: 16px; 
	width: 130px; 
	padding: 5px; 
	font-size: 12px; 
	color: #ccc; 
	line-height: 0; 
	background: none; 
	border: none; 
} 

#searchbutton { 
	float: right; 
	display: block; 
	height: 26px; 
	width: 30px; 
	padding: 0; 
	margin: 0; 
	cursor: pointer; 
	background: none; 
	border: none; 
}

/* end of menu */

/* slider */

#tooplate_middle { 
	clear: both;
	width: 960px;
	height: 280px;
	padding: 10px 0;
	margin-bottom: 5px;
	background: url(images/tooplate_middle.jpg) left top no-repeat
}

#intro { 
	float: left; 
	padding: 15px 0; 
	width: 520px; 
}

#intro h2 { 
	font-size: 30px; 
	color: #fff; 
	margin-bottom: 30px; 
}

#intro p { 
	font-size: 14px; 
	letter-spacing: 1px; 
	word-spacing: 5px; 
	line-height: 24px; 
	color: #fff; 
	margin-bottom: 30px; 
}

#intro a.learn_more { 
	display: block; 
	width: 170px; 
	height: 40px; 
	background: url(images/tooplate_learn_more.jpg) no-repeat; 
}

#tooplate_middle_subpage { 
	clear: both;
	width: 960px;
	height: 130px;
	padding: 25px 0;
	background: url(images/tooplate_middle.png) no-repeat
}

#tooplate_middle_subpage h2 { 
	color: #fff; 
}

#tooplate_middle_subpage p { 
	font-size: 16px; 
	color: #eee; 
	line-height: 30px; 
}

#tooplate_middle_subpage a {
	color: #eee;
}

#slider {
	float: right;
	width: 320px;
	height: 240px; 
	overflow: hidden;
}

/* end of slider */

#tooplate_main {
	clear: both;
	width: 960px;
	padding: 30px 0;
	background: #fff;
}

.col_w960 { width: 960px; margin-bottom: 40px }
.col_w600 { width: 600px }
.col_w450 { width: 450px }
.col_w300 { width: 300px }
.col_allw300 { width: 300px; float: left; margin-right: 30px }
.col_last { margin: 0 }
.col_w960_last { margin: 0; background: none; }
.col_last { margin: 0; }

.wwd_box { clear: both; margin-bottom: 20px }
.wwd_box img { float: left; width: 80px; margin-right: 30px }
.wwd_box h3 { font-size: 16px; margin-bottom: 0 }
.wwd_box h3 a { color: #0e4369; font-size: 16px; font-weight: normal }
.wwd_box p { margin-bottom: 30px; }

.lp_box { float: left; width: 300px; margin-right: 30px }
.lp_box h6 { font-weight: bold }
.lp_box_last { margin: 0 }
.lp_box img { border: 1px solid #CCC; padding: 4px }

#cp_contact_form { 
	padding: 0; 
	width: 400px; 
}

#cp_contact_form form { 
	margin: 0px; 
	padding: 0px; 
}

#cp_contact_form form .input_field { 
	width: 390px; 
	padding: 10px;
	border: 1px solid #ccc;  
	color: #333;
	background: #fff; 
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#cp_contact_form form label { 
	display: block; 
	width: 100px; 
	margin-right: 10px; 
	font-size: 14px; 
}

#cp_contact_form form textarea { 
	width: 390px; 
	height: 160px; 
	padding: 10px; 
	border: 1px solid #ccc;  
	color: #333;
	background: #fff; 
	font-family: Verdana,Geneva,sans-serif;
	font-size: 12px;
	margin-top: 5px;
}

#cp_contact_form form .submit_btn { 
	margin: 5px 0px;
	padding: 10px 20px; 
	text-decoration: none; 
	background: #fff; 
	border: 1px solid #ccc;
	font-size: 14px;   
}

#map img { 
	width: 300px; 
	height: 200px; 
	border: 1px solid #999; 
	padding: 4px; 
}

.news_box { 
	clear: both; 
	margin-bottom: 30px; 
}

.news_box h2 { 
	font-size: 20px; 
	margin-bottom: 0; 
}

.news_box p.date { 
	color: #000; 
}

.news_box img { 
	float: left; 
	width: 100px; 
	height: 100px; 
	padding: 4px; 
	border: 1px solid #000; 
	margin-right: 30px; 
}

.news_box a.more { 
	float: right; 
}

.sb_lp_box { 
	clear: both; 
	margin-bottom: 20px; 
}

.sb_lp_box img { 
	padding: 9px; 
	border: 1px solid #ccc; 
}

.post_box { 
	clear: both; 
	margin-bottom: 30px; 
}

.post_box h2 { 
	font-size: 20px; 
	margin-bottom: 10px; 
}

.post_box p.post_meta { 
	margin-bottom: 0; 
}

.post_box p span.cat a { 
	color: #cb5c02; 
	font-weight: 400; 
}

.post_box img { 
	width: 550px; 
	height: 160px; 
	border: 10px solid #eee; 
	margin-bottom: 10px; 
}

.post_box a.more { 
	float: right; 
}

.lbe_box { 
	clear: both; 
	margin-bottom: 20px; 
}

.lbe_box h3 { 
	font-size: 16px; 
	margin-bottom: 0; 
}
	
.lbe_box h3 a { 
	color: #0e4369; 
	font-size: 16px; 
	font-weight: normal; 
}

.lbe_box h3 a span { 
	font-size: 12px; 
	color: #333; 
}

.lbe_box p { 
	margin-bottom: 0; 
}

.lbe_box p.date { 
	font-size: 10px; 
	font-weight: 700; 
	color: #0e4369; 
}

.button{
	font:11px Tahoma,sans-serif;font-weight:bold;padding:6px 8px;color:#fff;display:inline-block;zoom:1;*display:inline;vertical-align:baseline;margin:0 3px 0 1px;outline:none;cursor:pointer;text-align:center;text-shadow:1px 1px 1px #555;width:auto;overflow:visible;line-height:110%;text-decoration:none;
}
.button:hover{opacity:0.9;-ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";filter:alpha(opacity=90)}
a.button:hover{color:#fff}
.button:active{position:relative;top:1px}
.button.big{font:15px Arial,sans-serif;font-weight:bold;padding:8px 10px}
.button.small{font-weight:normal;padding:4px 5px}
.button.red{border:1px solid #9c0606;background:#e85353}
.button.blue{border:1px solid #0d717e;background:#28a0b2}
.button.green{border:1px solid #3b6e22;background:#199eb9}
.button.orange{border:1px solid #c16729;background:#ff9435}
.button.purple{border:1px solid #981271;background:#cb60b3}
.button.yellow{border:1px solid #af9827;background:#f2de6f}
.button.black{border:1px solid #000;background:#444}
.button.gray{border:1px solid #444;background:#888}
.button.white{color:#444;text-shadow:1px 1px 0 #fff;border:1px solid #999;background:#f7f7f7}
.button.white:hover{color:#444}


#gallery { 
	margin: 0; 
	padding: 0; 
}

#gallery .gallery_box { 
	display: block; 
	float: left; 
	width: 280px; 
	margin: 0 30px 30px 0; 
	padding: 8px; 
	border: 1px solid #ccc; 
}

#gallery .third { 
	margin: 0 0 30px 0; 
}

#gallery .gallery_box a img { 
	border: 1px solid #ccc; 
	margin-bottom: 5px; 
}

#tooplate_cr_wrapper {
	clear: both;
	width: 100%;
	background: #000;
}

#tooplate_cr {
	width: 960px;
	margin: 0 auto;
	padding: 15px 0;
	text-align: center;
	color: #666;
	background:  url(images/tooplate_footer.jpg) top center no-repeat
}

#tooplate_cr a { 
	color: #5fa008; 
	font-weight: normal; 
}

input[type=text],
input[type=password]{
	background: rgba(255, 255, 255, 0.9);
	background:-moz-linear-gradient(90deg, #fff, #eee); /* Firefox */
	background:-webkit-gradient(linear, left top, left bottom, from(#eee), to(#fff), color-stop(0.2, #fff)); /* Webkit */
	border:1px solid #aaa;
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
	padding:5px;
}
input[type=text]:focus,
input[type=password]:focus{
	border-color:#093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none; /* Pour enlever le contour jaune lorsque l'on sélectionne un input dans Chrome */
}
select{
	cursor:pointer;
	padding:3px;
	-moz-box-shadow:0 0 3px #aaa;
	-webkit-box-shadow:0 0 3px #aaa;
}
select:active,
select:focus{
	border:1px solid #093c75;
	-moz-box-shadow:0 0 3px #0459b7;
	-webkit-box-shadow:0 0 3px #0459b7;
	outline:none;
}
